ByblosMobile/.idea/misc.xml
ByblosMobile/app/.project
ByblosMobile/app/.settings/org.eclipse.buildship.core.prefs
ByblosMobile/app/.classpath
ByblosMobile/.project
ByblosMobile/.settings/org.eclipse.buildship.core.prefs
